"*":
  editor:
    invisibles: {}
    tabLength: 4
    fontFamily: "Roboto Mono"
    showIndentGuide: true
  core:
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
    autoHideMenuBar: true
    disabledPackages: [
      "autoclose-html"
      "linter-js-standard"
    ]
    destroyEmptyPanes: false
    openEmptyEditorOnStart: false
  "exception-reporting":
  welcome:
    showOnStartup: false
  "save-session":
    windowX: 0
    windowY: 64
  "autocomplete-plus": {}
  "autoclose-html":
    makeNeverCloseElementsSelfClosing: true
  "node-debugger": {}
  linter: {}
  autosave:
    enabled: true
  "atom-terminal": {}
  "atom-material-ui":
    ui:
      disableAnimations: true
      accentColor: "Cyan"
    tabs:
      showTabIcons: "Show on active tab"
    fonts:
      useRoboto: true
      useRobotoInUI: true
      fontSize: "Big"
    treeView:
      compactTreeView: true
    panels: {}
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake: {}
  "git-plus": {}
  docblockr: {}
